# ===============================
# Application
# ===============================
PORT=3000

# ===============================
# Database
# ===============================
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=user_password
POSTGRES_DB=db_name
DATABASE_URL=postgresql://postgres_user:user_password@db:5432/db_name?schema=public

# ===============================
# JWT
# ===============================
JWT_ACCESS_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_refresh_secret

# ===============================
# External Services
# ===============================
COINGECKO_API_KEY=your_coingecko_api_key